/* Normal desktop :1200px. */

@media (min-width: 1200px) and (max-width: 1500px) {
  .slider-active .slick-arrow {
    left: 20px;
  }
  .slider-active .slick-next {
    right: 20px;
    left: auto;
  }

  .slider-img img {
    width: 260px;
    margin-top: 30px;
  }

  .slider-content {
    margin-top: 20px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .slider-text-column,
    .slider-image-column {
        min-width: 100%;
        max-width: 100%;
    }
}

/* small mobile :320px. */

@media (max-width: 768px) {
    .slider-text-column,
    .slider-image-column {
        min-width: 100%;
        max-width: 100%;
    }
}
